#main-title {
    color: rgb(72, 197, 250);
    border-bottom: 2px solid grey; 
    padding-bottom: 10px; 
    margin: 15px; 
    text-align: center; 
    background-color:rgb(235, 246, 251, 0.5);
    font-family: monospace; 
    font-weight: 400; 
    font-size: 3rem; 
}

#main-section {
    margin: 20px; 
}

#sub-title {
    font-family: monospace; 
    font-weight: 400;
    font-size: 1.5rem; 
    color:rgb(65, 68, 68); 
    text-align: center; 
}

#report-list {
    list-style-type: circle; 
}

#report {
    padding: 5px; 
    color:rgb(40, 73, 91);
    font-family: monospace; 
    font-size: 1rem; 
}

#rep-title {
    font-family: monospace; 
    margin: 15px; 
    font-weight: 400;
    font-size: 1.5rem; 
    color:rgb(65, 68, 68); 
    text-align: center; 
    padding-bottom: 10px; 
    border-bottom: 2px solid rgba(138, 138, 138, 0.5); 
}

#rep-show-main {
    margin: 20px; 
    flex-grow: 1; 
}

#rep-body {
    font-family: monospace; 
    font-size: 1rem; 
}

#wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#footer {
    text-align: center;
    font-family: monospace; 
    font-weight: 300; 
    border-top: 1px solid rgb(175, 178, 180, 0.5); 
    padding: 10px; 
    margin: 20px; 
    background-color:rgba(169, 222, 252, 0.15); 
}