<div id="wrapper">
    <h1 id="rep-title"><%= @report.title %></h1>

    <div id="rep-show-main">
        <p id="rep-body">
            <%= @report.body %>
        </p>
    </div>
    <footer id="footer">
        2022 | D.G. 
    </footer>
</div>